.vs
*.c3addon
*.vcxproj.user
/wrapper-extension/epic-games-sdk/
/wrapper-extension/x64/
/wrapper-extension/Win32/
/wrapper-extension/EpicGamesExt/x64/
/wrapper-extension/EpicGamesExt/Win32/
/construct-plugin/*.exp
/construct-plugin/*.lib
/construct-plugin/*.pdb
/construct-plugin/ts-defs/
